@import "tailwindcss";

.recharts-wrapper svg:focus,
.recharts-wrapper svg *:focus {
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: #000;
    transition: background-color 5000s ease-in-out 0s;
}

.recharts-tooltip-wrapper {
    z-index: 10;
}

@theme {
    --font-sans: "Geist Pixel", sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    scrollbar-gutter: stable;
    background-image: url("/background_blur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.blue-window {
    background: #006fea;
    background-image:
            linear-gradient(to right, #034fe1, #1682f2 1px, #006ee4 2px, rgba(0,0,0,0) 3px),
            linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
            linear-gradient(to top, #0034b1, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px);
    border-radius: 5px;
    border: 1px solid #fff;
    border-color: #0072ef #01279e #01279e #0236d8;
}

.blue-window-bar {
    background: #006fea;
    background-image:
            linear-gradient(to right, #0050db, rgba(255,255,255,.1) 4px, rgba(255,255,255,0) 200px),
            linear-gradient(to left, #0034b0, #0056e1 1px, #0064f4 2px, rgba(0,0,0,0) 3px),
            linear-gradient(to bottom, #4aa9ff, #33a4ff 1px, #008aff 2px, #007ef4 3px, #0075f0 4px, rgba(0,0,0,0) 5px),
            linear-gradient(to top, #005dd9, #0067e9 1px, #007afb 2px, #0081fb 3px, rgba(0,0,0,0) 4px);
}

.red-close {
    background:
            radial-gradient(circle at 20px 20px, #e84f00, rgba(255,255,255,0)),
            radial-gradient(circle at -5px -5px, white, rgba(255,255,255,.3), rgba(255,255,255,0)),
            linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(255,255,255,0)),
            linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0));
    background-color: #e81000;
}

.custom-bg-1 {
    background: linear-gradient(180deg, #7489ff 0%, #4158d3 100%);
}

.custom-bg-2 {
    background-color: #edead6;
    box-shadow: inset 0px -4px 4px #e5e2d4;

}

.custom-bg-3 {
    background: linear-gradient(90deg, #6286e1 0%, #9fbbf6 65%, #9fbbf6 70%, #6286e1 100%);
}

.custom-bg-4 {
    background: linear-gradient(90deg, #7362e1 0%, #9a90f5 65%, #9b91ef 70%, #7362e1 100%);
}

.custom-underline {
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, #6286e1 0%, #9fbbf6 15%, #9fbbf6 25%, #ffffff 40%);
}

.msg-bg-red {
    background: #d44848;
    background: linear-gradient(90deg, rgba(212, 72, 72, 1) 0%, rgba(245, 140, 140, 1) 15%, rgba(212, 72, 72, 1) 45%, rgba(138, 56, 56, 1) 100%);
}

.msg-bg-green {
    background: #2ba141;
    background: linear-gradient(90deg, rgba(43, 161, 65, 1) 0%, rgba(116, 242, 139, 1) 15%, rgba(43, 161, 65, 1) 45%, rgba(19, 110, 35, 1) 100%);
}

.transaction-month-card {
    background: linear-gradient(90deg, #b4c8fb 0%, #a0b3ef 100%);
}

.transaction-month-bar {
    background: linear-gradient(90deg, #e1e1fd 0%, #a6b7f1 100%);
}

.yellow-face {
    background: radial-gradient(circle at 35% 35%, #ffffff 0%, #ffd324 50%, #504700 100%);
}

/* BUTTONS */
.blue-button {
    display: flex;
    flex-direction: row;
    background-color: #124CFB;
    box-shadow: inset 0px 23px 4px #2A5AFD;
    color: #fff;
    padding: 8px 16px 8px 16px;
    border-radius: 3px;
    border: #fff solid 1px;
}

.blue-button:hover {
    background-color: #3c6bff;
    box-shadow: inset 0px 23px 4px #5074f8;
}

.button-pressed {
    background: linear-gradient(180deg, #d8d8d8 0%, #f0f0f0 25%);
    border-bottom: none;
}

.white-button-wrap {
    display: inline-flex;
    align-items: center;
    width: fit-content;
    border: 1px solid RGB(1, 63, 102);
    border-radius: 3px;
    background: #f6f6f6;
    background: -moz-linear-gradient(top, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
    background: -webkit-linear-gradient(top, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
    background: linear-gradient(to bottom, #f6f6f6 0%, #ffffff 6%, #fffdfe 12%, #fbf9fa 18%, #f8f7f5 41%, #f7f3f0 47%, #f8f3ef 82%, #e7e0d8 94%, #dad3c9 100%);
}

.white-button {
    height: 100%;
    border: 2px solid transparent;
    padding: 3px 8px 3px 8px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: calc(var(--spacing) * 1);
}

.white-button:hover,
.white-button:focus {
    outline: 0;
    border: 2px solid #B9D0F0;
}

.white-button:active {
    background: #dad3c9;
    background: -moz-linear-gradient(top, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
    background: -webkit-linear-gradient(top, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
    background: linear-gradient(to bottom, #dad3c9 0%, #e7e0d8 6%, #f8f3ef 18%, #f7f3f0 53%, #f8f7f5 59%, #fbf9fa 82%, #fffdfe 88%, #ffffff 94%, #f6f6f6 100%);
}